:root {
  --mdc-theme-primary: #eb0000;
  --mdc-theme-secondary: #ff5633;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-text-primary-on-background: rgba(0,0,0,.80);
  --mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
  --mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-dark: #fff;
  --mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,.7);
  --mdc-theme-text-hint-on-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-icon-on-dark: hsla(0,0%,100%,.5);
}

.mdc-typography--headline2 {
  color: rgba(0,0,0,.75);
}
.mdc-typography--headline3 {
  color: rgba(0,0,0,.80);
}
.mdc-typography--button {
  color: rgba(0,0,0,.76);
}

a:-webkit-any-link {
  color: rgba(0,0,0,.80);
  cursor: pointer;
  text-decoration: none;
}

/* !!!! <Discover> !!!! */

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__path {
  stroke: rgba(0,0,0,.75);
}

.Discover {
  padding-top: 4.8rem;
}

.Discover__TapBar {
  width: 95%;
}

.Discover__Tab:hover:before {
  opacity: 0;
}

.Discover__Button {
  display: flex;
  margin: auto auto 1rem auto;
}

.Discover_Genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 1.4rem auto 1.4rem auto;
}

.Discover__Sort {
  display: flex;
  margin: 1.4rem auto 1.4rem auto;
  width: 70%;
}

.Discover__Year {
  margin: 1.7rem auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.MoviesList {
  padding: 0 0.5rem 0 0.5rem;
}

.header {
  z-index: 1000;
  position: fixed;
}

.header__title {
  text-decoration: none;
}

.content-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.Drawer {
  padding-top: 3.5rem;
  
}

/* !!!! <MovieInfo> !!!! */

.MovieInfo {
  padding: 5rem 2rem 2rem 2rem;
}

.Grid__content {
  text-align: center;
}

.Youtube {
  width: 100%;
  height: 35vh;
}

.Link {
  text-decoration: none;
}

.movieSearch {
  margin: 0 5rem;
}

.movieCardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.Search {
  padding: 5rem 0.5rem 2rem 0.5rem;
}

.LandingPage {
  font-family: Roboto, sans-serif;
  margin: 0;
  width: 100%;
  position: relative;

  display: flex;
  flex-flow: column;
}



.LandingPage__first {
  height: 100vh;
  max-height: 600px;

  /* background-image: linear-gradient(135deg, #fff, #ffffff 50%,#eb0000 50%, #eb0000 100%);
  background-repeat: no-repeat; */
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

#stripes {
  height: 100%;
  max-height: 600px;
  width: 100%;
  background-image: linear-gradient(180deg,#eb0000 98%,  #fdff8ca4 100%);
  transform: skewY(-16deg);
  transform-origin: 0;
  position: absolute;
}

.LandingPage__first__box {
  cursor: pointer;
  /* border-width: 10px 20px;
  border-style: solid;
  border-color: black; */
  padding: 2rem;
  background-image: linear-gradient(#EEE .1em, transparent .1em), linear-gradient(90deg,#EEE .1em, transparent .1em) ;
  background-color:#fff;
  background-size: 6rem 1.9rem;
  text-shadow: 1px 1px 5px rgba(44, 44, 44, 0.746);
  box-shadow: 0px 0px 0 100vw rgba(254, 255, 192, 0.116) inset, 0 0 0 2rem black;
  width: 65vw;

  position: absolute;
  margin-top: 20px;
  outline: 0.5rem dotted #fdff72;
  outline-offset: 0.8rem;

  transition: text-shadow 1.4s cubic-bezier(.23,1,.32,1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LandingPage__first__box:hover {
  text-shadow: 13px 13px 17px #fdff72;
}

.LandingPage__second {
  margin-top: 4rem;
  margin-bottom: 2rem;
  box-sizing: content-box;

  display: flex;
  justify-content: center;
}


.LandingPage__second__boxes {
  color: #333;
  display: block;

  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 10px;
  font-weight: 500;
  text-align: center;
  

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


.LandingPage__second__box {
  cursor: pointer;
 
  padding: 3rem;
  margin: 2.5rem;

  background-image: linear-gradient(#EEE .1em, transparent .1em), linear-gradient(90deg,#EEE .1em, transparent .1em) ;
  background-color:#fff;
  background-size: 6rem 1.9rem;
  text-shadow: 1px 1px 5px rgba(44, 44, 44, 0.746);
  box-shadow: 0px 0px 0 100vw rgba(254, 255, 192, 0.116) inset, 0 0 0 2rem black;
  outline: 0.5rem dotted #fdff72;
  outline-offset: 0.8rem;
  transition: text-shadow 1.4s cubic-bezier(.23,1,.32,1);

  flex-grow: 1;
  flex-basis: 30vw;
  max-width: 400px;

}
.LandingPage__second__box:hover {
  text-shadow: 7px 7px 14px #fdff72;
}



footer {
  background-color: #242424;
  text-align: center;
  font-size: 1.5rem;
  line-height: 50%;

  padding: 1.5rem;
  display: flex;
  flex-direction: column
}

.footer__text {
  color: #fff2dc;
  
  flex-grow: 1;
  flex-basis: 100%;
  margin: 0;
  padding: 0.5rem 
}

.footer__logos > *:not(:last-child) {
  margin-right: 1rem;
}


.LandingPage__title {
  color: #333;
  display: block;
  font-size: 6rem;
  line-height: 100%;

  letter-spacing: 10px;
}

.LandingPage__text-secondary {
  color: #eb0000;
  display: block;
  font-size: 2rem;
}


@media only screen and (max-width: 970px) {
  .LandingPage__first {
    max-height: 500px;
  }
  #stripes {
    max-height: 500px;
  }
}


@media only screen and (max-width: 700px) {
  .LandingPage__title {
   font-size: 5rem;
  }
  .LandingPage__second__box {
   /*  outline: 0.5rem dotted #fdff72;
    outline-offset: 0.8rem;
    box-shadow: 0px 0px 0 100vw rgba(254, 255, 192, 0.116) inset, 0 0 0 2rem black;
    padding: 1.5em;
    margin: 2.5rem; */

    outline: 0.45rem dotted #fdff72;
    outline-offset: 0.5rem;
    padding: 1em;
    margin: 2.5rem;
    box-shadow: 0px 0px 0 100vw rgba(254, 255, 192, 0.116) inset, 0 0 0 1.5rem black;
  }
}

@media only screen and (max-width: 550px) {
  .LandingPage__title {
   font-size: 4rem;
  }
  .LandingPage__text-secondary {
    font-size: 1.5rem;
  }
  .LandingPage__first {
    max-height: 400px;
  }
  #stripes {

    max-height: 400px;
 
  }
}

@media only screen and (max-width: 470px) {
  .LandingPage__title {
   font-size: 3rem;
  }
  .LandingPage__text-secondary {
    font-size: 1rem;
  }
  .LandingPage__first__box {
   
  }
}

@media only screen and (max-width: 420px) {
  .LandingPage__title {
   font-size: 2.5rem;
  }
  .LandingPage__text-secondary {
    font-size: 1rem;
  }
  .LandingPage__first__box {
   
    box-shadow: 0px 0px 0 100vw rgba(255, 192, 245, 0.116) inset, 0 0 0 1.5rem black;
    outline: 0.5rem dotted #fdff72;
    outline-offset: 0.5rem;
    padding: 1rem;
  }
  .LandingPage__second__boxes {
   font-size: 1.2rem
  }
  .LandingPage__second__box {
    
    margin: 2.5rem;
    padding: 1rem;
  
    outline: 0.45rem dotted #fdff72;
    outline-offset: 0.4rem;
    
    box-shadow: 0px 0px 0 100vw rgba(254, 255, 192, 0.116) inset, 0 0 0 1.3rem black;
  }
  footer {
    
    font-size: 1.1rem;
    line-height: 100%;
    
  }
}
@media only screen and (max-width: 350px) {
  .LandingPage__title {
   font-size: 2.5rem;
  }
  .LandingPage__text-secondary {
    font-size: 1rem;
  }
  .LandingPage__first__box {
   
    box-shadow: 0px 0px 0 100vw rgba(255, 192, 245, 0.116) inset, 0 0 0 1.5rem black;
    outline: 0.5rem dotted #fdff72;
    outline-offset: 0.5rem;
    padding: 1rem;
  }
  .LandingPage__second__boxes {
   font-size: 1.2rem
  }
  .LandingPage__second__box {
    
    margin: 1.7rem;
  }
}