:root {
  --mdc-theme-primary: #eb0000;
  --mdc-theme-secondary: #ff5633;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-text-primary-on-background: rgba(0,0,0,.80);
  --mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
  --mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-dark: #fff;
  --mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,.7);
  --mdc-theme-text-hint-on-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-icon-on-dark: hsla(0,0%,100%,.5);
}

.mdc-typography--headline2 {
  color: rgba(0,0,0,.75);
}
.mdc-typography--headline3 {
  color: rgba(0,0,0,.80);
}
.mdc-typography--button {
  color: rgba(0,0,0,.76);
}

a:-webkit-any-link {
  color: rgba(0,0,0,.80);
  cursor: pointer;
  text-decoration: none;
}

/* !!!! <Discover> !!!! */

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__path {
  stroke: rgba(0,0,0,.75);
}

.Discover {
  padding-top: 4.8rem;
}

.Discover__TapBar {
  width: 95%;
}

.Discover__Tab:hover:before {
  opacity: 0;
}

.Discover__Button {
  display: flex;
  margin: auto auto 1rem auto;
}

.Discover_Genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 1.4rem auto 1.4rem auto;
}

.Discover__Sort {
  display: flex;
  margin: 1.4rem auto 1.4rem auto;
  width: 70%;
}

.Discover__Year {
  margin: 1.7rem auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.MoviesList {
  padding: 0 0.5rem 0 0.5rem;
}

.header {
  z-index: 1000;
  position: fixed;
}

.header__title {
  text-decoration: none;
}

.content-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.Drawer {
  padding-top: 3.5rem;
  
}

/* !!!! <MovieInfo> !!!! */

.MovieInfo {
  padding: 5rem 2rem 2rem 2rem;
}

.Grid__content {
  text-align: center;
}

.Youtube {
  width: 100%;
  height: 35vh;
}

.Link {
  text-decoration: none;
}

.movieSearch {
  margin: 0 5rem;
}

.movieCardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.Search {
  padding: 5rem 0.5rem 2rem 0.5rem;
}

.LandingPage {
  font-family: Roboto, sans-serif;
  margin: 0;
  width: 100%;
  position: relative;

  display: flex;
  flex-flow: column;
}



.LandingPage__first {
  height: 100vh;
  max-height: 600px;

  /* background-image: linear-gradient(135deg, #fff, #ffffff 50%,#eb0000 50%, #eb0000 100%);
  background-repeat: no-repeat; */
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

#stripes {
  height: 100%;
  max-height: 600px;
  width: 100%;
  background-image: linear-gradient(180deg,#eb0000 98%,  #fdff8ca4 100%);
  transform: skewY(-16deg);
  transform-origin: 0;
  position: absolute;
}

.LandingPage__first__box {
  cursor: pointer;
  /* border-width: 10px 20px;
  border-style: solid;
  border-color: black; */
  padding: 2rem;
  background-image: linear-gradient(#EEE .1em, transparent .1em), linear-gradient(90deg,#EEE .1em, transparent .1em) ;
  background-color:#fff;
  background-size: 6rem 1.9rem;
  text-shadow: 3px 2px 4px rgba(131, 131, 131, 0.657);
  box-shadow: 0px 0px 0 100vw rgba(254, 255, 192, 0.116) inset, 0 0 0 2rem black;
  width: 65vw;

  position: absolute;
  margin-top: 20px;
  outline: 0.5rem dotted #fdff72;
  outline-offset: 0.8rem;

  transition: text-shadow 1.4s cubic-bezier(.23,1,.32,1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pinkback {
  background-color: #79797910;
}

.LandingPage__first__box:hover {
  text-shadow: 13px 13px 17px #fdff72;
}

.LandingPage__second {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  
}
.LandingPage__second__discover {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.LandingPage__second__discover__img {
  width:  250px;
  margin: 1.2rem;
}
.LandingPage__second__discover__text {
  font-size: 3.5rem;
/*   line-height: 100%; */
  font-weight: 200;
  color: #4e4e4e;
  flex-basis: 45vw;
  flex-grow: 1;
  max-width: 45vw;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: right;
  margin: 1.2rem;
  text-shadow: 3px 2px 4px rgba(131, 131, 131, 0.657);
}
.LandingPage__second__discover__text-reverse {
  order: -10;
  text-align: left;
}

.phone{
  background: rgb(250, 250, 250);
  width:280px;
  height:596px;
  
  margin: 1.2rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 5px solid lightgrey;
  border-radius: 30px;
/*   box-shadow: 0 0 46px 0px rgba(54, 54, 54, 0.507); */
}
video {
  width: 100%;
  height: auto;
}
.screen {
  position:relative;
  top: 45px;
  margin:auto;
  background:rgba(255, 255, 255, 0.924);
  width:90%;
  height: 75%;
  border-radius:3px;
  border: 2px solid rgba(68, 68, 68, 0.753);
}

.speaker {
  position:relative;
  top:38px;
  background:#5d5d5d;
  margin:auto;
  width:50px;
  height:5px;
  border-radius:5px;
}

.sensor {
  position:relative;
  top:23px;
  left:100px;
  background:#5d5d5d;
  width:11px;
  height:11px;
  border-radius:100%;
}

.camera {
  position:relative;
  top:20px;
  background:#5d5d5d;
  margin:auto;
  width:7px;
  height:7px;
  border-radius:100%;
}


.button {
  position:relative;
  top:63px;
 /* background:linear-gradient(135deg, #919191,#e0e0e0);*/
  border: 3px solid #5a5a5a;
  margin:auto;
  width:45px;
  height:45px;
  border-radius:100%;
  box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,.3), inset 5px 5px 0px 0px rgba(0,0,0,.1);
}


.ext{
  position:relative;
  border-radius:3px;
  background:#8a8a8a;
}

.vup {
  height:38px;
  width:2px;
  bottom:450px;
  left:-7px;
    border: 1px solid rgb(226, 226, 226)
}

.vdown {
  height:38px;
  width:2px;
  bottom:435px;
  left:-7px;
    border: 1px solid rgb(226, 226, 226)
}

.power {
  height:38px;
  width:2px;
  bottom:520px;
  left:283px;
  border: 1px solid rgb(226, 226, 226)
}


footer {
  background-color: #242424;
  text-align: center;
  font-size: 1.5rem;
  line-height: 50%;

  padding: 1.5rem;
  display: flex;
  flex-direction: column
}

.footer__text {
  color: #fff2dc;
  
  flex-grow: 1;
  flex-basis: 100%;
  margin: 0;
  padding: 0.5rem;
}
.footer__logos {
  margin-top: 0.5rem;
}
.footer__logos > *:not(:last-child) {
  margin-right: 1rem;
}


.LandingPage__title {
  color: #333;
  display: block;
  font-size: 6rem;
  line-height: 100%;

  letter-spacing: 7px;
}

.LandingPage__text-secondary {
  color: #eb0000;
  display: block;
  font-size: 2rem;
}


@media only screen and (max-width: 975px) {
  .LandingPage__first {
    max-height: 500px;
  }
  #stripes {
    max-height: 500px;
  }
  .LandingPage__second__discover__text {
    font-size: 3.5rem;
  /*   line-height: 100%; */
    font-weight: 200;
    color: #1f1f1f;
    flex-basis: 50vw;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: right;
  }
}


@media only screen and (max-width: 700px) {
  .LandingPage__title {
   font-size: 5rem;
  }
  .LandingPage__second__discover__text {
    font-size: 2.5rem;
   }
}

@media only screen and (max-width: 666px) {
  .LandingPage__second__discover__text {
    order: -10;
    text-align: center;
    max-width: 85vw;
   }
}


@media only screen and (max-width: 580px) {
  .LandingPage__second__discover__text {
    font-size: 2rem;
   }
}

@media only screen and (max-width: 550px) {
  .LandingPage__title {
   font-size: 4rem;
  }
  .LandingPage__text-secondary {
    font-size: 1.5rem;
  }
  .LandingPage__first {
    max-height: 400px;
  }
  #stripes {
    max-height: 400px;
  }
}

@media only screen and (max-width: 470px) {
  .LandingPage__title {
   font-size: 3rem;
  }
  .LandingPage__text-secondary {
    font-size: 1rem;
  }
  .LandingPage__first__box {
   
  }
}

@media only screen and (max-width: 420px) {
  .LandingPage__title {
   font-size: 2.5rem;
  }
  .LandingPage__text-secondary {
    font-size: 1rem;
  }
  .LandingPage__first__box {
   
    box-shadow: 0px 0px 0 100vw rgba(255, 192, 245, 0.116) inset, 0 0 0 1.5rem black;
    outline: 0.5rem dotted #fdff72;
    outline-offset: 0.5rem;
    padding: 1rem;
  }

  footer {
    
    font-size: 1.1rem;
    line-height: 100%;
    
  }
}
@media only screen and (max-width: 350px) {
  .LandingPage__title {
   font-size: 2.1rem;
  }
  .LandingPage__text-secondary {
    font-size: 1rem;
  }
  .LandingPage__first__box {
    box-shadow: 0px 0px 0 100vw rgba(255, 192, 245, 0.116) inset, 0 0 0 1.5rem black;
    outline: 0.5rem dotted #fdff72;
    outline-offset: 0.5rem;
    padding: 1rem;
  }

  .sensor {
    display: none
  }

  .screen {
    position:relative;
    top: 45px;
    margin:auto;
    background:rgba(255, 255, 255, 0.924);
    width:93%;
    height: 75%;
    border-radius:3px;
    border: 2px solid rgba(68, 68, 68, 0.753);
  }
}